---
import Layout from "@layouts/layout.astro"
import SkillForm from "@components/SkillForm.svelte"

// src/pages/skills/[skill].astro
export async function getStaticPaths() {
  
  const skills = [
  	{
  		"skill":"swimming"
  	},
  	{
  		"skill":"guitar"
  	},
  	{
  		"skill":"chess"
  	},
  	{
  		"skill":"french"
  	},
    {
      "skill":"kids-coding"
    }
  ]

  let store = []

  skills.map((item) => {
    let data = {}
    data.params = {}
    data.params.skill = item.skill
    store.push(data)
  })
  
  return store
}

const {skill} = Astro.params

const title = `${skill.charAt(0).toUpperCase()}${skill.substr(1)}`

const skill_description = {
  "swimming":{
    "price":"KSH 5,000",
    "duration":"10 Sessions",
    "image":"/images/swimming.jpg"
  },
  "guitar":{
    "price":"KSH 10,000",
    "duration":"10 Sessions",
    "image":"/images/music.avif"
  },
  "chess":{
    "price":"KSH 5,000",
    "duration":"10 Sessions",
    "image": "/images/chess.avif"
  },
  "french":{
    "price":"KSH 5,000",
    "duration":"10 Sessions",
    "image":"/images/french.jpg"
  },
  "kids-coding":{
    "price":"KSH 20,000",
    "duration": "10 Sessions",
    "image":"/images/coding-kids.avif"
  }
}
---

<Layout title={title} description="Get a skill that will help you to be competent in the modern world.">
  <section class="relative flex flex-wrap lg:h-screen lg:items-center">
    <div class="w-full px-4 py-12 lg:w-1/2 sm:px-6 lg:px-8 sm:py-16 lg:py-24">
      <div class="max-w-lg mx-auto text-center">
        <h1 class="text-2xl font-bold sm:text-3xl mt-16 sm:mt-0">
          Book {title} classes
        </h1>

        <p class="mt-4 text-gray-500 dark:text-gray-100">
          You will have to pay {skill_description[skill].price} for a total of {skill_description[skill].duration}
        </p>
      </div>

      <SkillForm 
        client:load
        skill={skill}
        price={skill_description[skill].price}
        duration={skill_description[skill].duration}
      />
    </div>

    <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-full">
      <img
        class="absolute inset-0 object-cover w-full h-full"
        src={skill_description[skill].image}
        alt={`A picture portraying a skill in ${skill}`}
      />
    </div>
  </section>

</Layout>
